form{
    margin-left: 25%;
    margin-right: 25%;
}

.back_darkgray{
    background-color: rgb(122, 126, 126);
}


.red{
    color:darkred;
}

.back-gray{
    background-color: lightgray;
}

.font{
    font-family: Arial, Helvetica, sans-serif;
}

.fatness{
    font-weight: 800;
    background-color: white;
}

.pad{
    padding: 30px;
}

.sub-but{
    background-color: rgb(78, 76, 76);
    border: none;
    padding: 15px 32px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: white;
    border-radius: 8px;
    
}